.p-t-3 {
  padding-top: 3px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.p-b-43 {
  padding-bottom: 43px;
}

.flex-sb-m {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-full {
  width: 100%
}

